# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency files
*.d

# Compiled Python files
*.pyc

# Temporary PSI files
output.dat
psi.timer.dat
psi.32
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
timer.dat
